<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>userlogin</display-name>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>customer.userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <display-name>new project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Customerregister</servlet-name>
    <servlet-class>customer.Customerregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customerregister</servlet-name>
    <url-pattern>/Customerregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userlogin</display-name>
    <servlet-name>Userlogin</servlet-name>
    <servlet-class>customer.Userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlogin</servlet-name>
    <url-pattern>/Userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatedetails</display-name>
    <servlet-name>updatedetails</servlet-name>
    <servlet-class>customer.updatedetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatedetails</servlet-name>
    <url-pattern>/updatedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changepassword</display-name>
    <servlet-name>changepassword</servlet-name>
    <servlet-class>customer.changepassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepassword</servlet-name>
    <url-pattern>/changepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerlogout</display-name>
    <servlet-name>customerlogout</servlet-name>
    <servlet-class>customer.customerlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerlogout</servlet-name>
    <url-pattern>/customerlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletacc</display-name>
    <servlet-name>deletacc</servlet-name>
    <servlet-class>customer.deletacc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletacc</servlet-name>
    <url-pattern>/deletacc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Additem</display-name>
    <servlet-name>Additem</servlet-name>
    <servlet-class>item.Additem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Additem</servlet-name>
    <url-pattern>/Additem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Itemview</display-name>
    <servlet-name>Itemview</servlet-name>
    <servlet-class>item.Itemview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Itemview</servlet-name>
    <url-pattern>/Itemview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addinventory</display-name>
    <servlet-name>Addinventory</servlet-name>
    <servlet-class>inventory.Addinventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addinventory</servlet-name>
    <url-pattern>/Addinventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updateinventory</display-name>
    <servlet-name>Updateinventory</servlet-name>
    <servlet-class>inventory.Updateinventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateinventory</servlet-name>
    <url-pattern>/Updateinventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admindeletcustomer</display-name>
    <servlet-name>Admindeletcustomer</servlet-name>
    <servlet-class>Admin.Admindeletcustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admindeletcustomer</servlet-name>
    <url-pattern>/Admindeletcustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admindeletads</display-name>
    <servlet-name>Admindeletads</servlet-name>
    <servlet-class>Admin.Admindeletads</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admindeletads</servlet-name>
    <url-pattern>/Admindeletads</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inventorydelet</display-name>
    <servlet-name>inventorydelet</servlet-name>
    <servlet-class>inventory.inventorydelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inventorydelet</servlet-name>
    <url-pattern>/inventorydelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addtocart</display-name>
    <servlet-name>addtocart</servlet-name>
    <servlet-class>cart.addtocart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtocart</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletefromcart</display-name>
    <servlet-name>deletefromcart</servlet-name>
    <servlet-class>cart.deletefromcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletefromcart</servlet-name>
    <url-pattern>/deletefromcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>placeOrder</display-name>
    <servlet-name>placeOrder</servlet-name>
    <servlet-class>InventoryOrders.placeOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>placeOrder</servlet-name>
    <url-pattern>/placeOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancelorders</display-name>
    <servlet-name>cancelorders</servlet-name>
    <servlet-class>InventoryOrders.cancelorders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelorders</servlet-name>
    <url-pattern>/cancelorders</url-pattern>
  </servlet-mapping>
</web-app>